

{% macro term_tree_html(term) %}
    <li class="facet-option">
        <a href="javascript:0">{{term.label}}</a>
        {% if term.children %}
            <ul>
                {% for t in term.children %}
                    {{term_tree_html(t)}}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}


{% macro term_tree_checkbox_html(term) %}
    <li class="facet-option">
        <input type="checkbox" id="cb_{{term.name}}"></input>

        <a href="javascript:0">{{term.label}}</a>
        {% if term.children %}
            <ul>
                {% for t in term.children %}
                    {{term_tree_checkbox_html(t)}}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}